@model List<string>
<style>

    .dropzone {
        border: 2px dashed #0087F7;
        border-radius: 5px;
        background: white;
    }

        .dropzone .dz-message {
            font-weight: 400;
        }

            .dropzone .dz-message .note {
                font-size: 0.8em;
                font-weight: 200;
                display: block;
                margin-top: 1.4rem;
            }

    *, *:before, *:after {
        box-sizing: border-box;
    }

    .slick-slide{
        margin:5px;
    }
</style>
<link href="~/Scripts/factoryAdminDashboard/slick/slick.css" rel="stylesheet" />
<link href="~/Scripts/factoryAdminDashboard/slick/slick-theme.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Медіа</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Головна</a></li>
                <li class="breadcrumb-item active">Медіа</li>
            </ol>
        </div>
    </div>
    <div >
        @*<form action="/file-upload" class="dropzone">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                </div>
            </form>*@
        <div style="text-align:center; margin:15px;">
            <div id="currentImage" style="width:500px;  margin:auto">
                @foreach (var imagePath in Model)
                {
                    <img src="@imagePath" />
                }
            </div>
        </div>
        <div id="imageviewer" style="margin-top:20px;">
            @foreach (var imagePath in Model)
            {

                <div class="imageWrapper" style="margin:5px;">
                    <img src="@imagePath" style="margin:5px;"/>
                </div>
            }
        </div>
    </div>
</div>
@*<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>*@
<script src="~/Scripts/factoryAdminDashboard/slick/slick.js"></script>
<script>
    $(document).ready(function () {
        $('#currentImage').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            //asNavFor: '#imageviewer'
        });

        $('#imageviewer').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            asNavFor: '#currentImage',
            dots: true,
            centerMode: true,
            focusOnSelect: true
        });
    })

</script>
@*<script src="~/Scripts/factoryAdminDashboard/pages/dropzone.js"></script>
    <script>
        $(document).ready(function() {
            $("div.dropzone1").dropzone({ url: "/file/post" });
        })
    </script>*@
