<style>

    .dropzone {
        border: 2px dashed #0087F7;
        border-radius: 5px;
        background: white;
    }

        .dropzone .dz-message {
            font-weight: 400;
        }

            .dropzone .dz-message .note {
                font-size: 0.8em;
                font-weight: 200;
                display: block;
                margin-top: 1.4rem;
            }

    *, *:before, *:after {
        box-sizing: border-box;
    }    
</style>
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Медіа</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Головна</a></li>
                <li class="breadcrumb-item active">Медіа</li>
            </ol>
        </div>
    </div>
    <div id="dropzone">
        <form action="/file-upload" class="dropzone">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/factoryAdminDashboard/pages/dropzone.js"></script>
<script>
    $(document).ready(function() {
        $("div.dropzone1").dropzone({ url: "/file/post" });
    })
</script>
