
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div id="back">
    <div class="backRight"></div>
    <div class="backLeft"></div>
</div>

<div id="slideBox">
    <div class="topLayer">
        <div class="left">
            @{ Html.RenderPartial("Partials/Register");}
        </div>
        <div class="right">
            @{Html.RenderPartial("Partials/Login");}
        </div>
    </div>
</div>