
<div id="back">
    <div class="backLeft"></div>
</div>

<div id="slideBox">
    <div class="topLayer">
        <div class="right">
            <div class="content">
                <h2>Login</h2>
                <form method="post" asp-action="Login">
                    <div class="form-group">
                        <input type="text" placeholder="username" />
                    </div>
                    <button class="off"><a asp-controller="Account" asp-action="Register">Sign Up</a></button>
                    <button id="login" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>