<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Styles/site/w3-site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Styles/site/account.css" rel="stylesheet" />


    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif;
        }

        .w3-sidebar {
            z-index: 3;
            width: 250px;
            top: 43px;
            bottom: 0;
            height: inherit;
        }
    </style>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/libs/bootstrap/bootstrap.js"></script>
    
    <script src="/node_modules/core-js/client/shim.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>

    <script src="/System.config.js"></script>
    <script>
        System.import('app').then(null, console.error.bind(console));
    </script>﻿
</head>
<body>
    @{Html.RenderPartial("NavBar");}

    @RenderBody()
</body>
</html>