<script type="text/x-template" id="modeSwitcherTmpl">
    <div>
        <div class="btn-group">
            <router-link to="listView">List</router-link>
            <router-link to="mapView">Map</router-link>
        </div>
        
    </div>
</script>