<script type="text/x-template" id="searchFieldTmpl">
    <div class="row">
        <!--<form class="col-md-4 col-md-push-4">
            <input class="w3-input input-lg form-control" placeholder="Search" />
        </form>-->
        @*<md-content class="col-md-8 col-md-push-2" style="background-color:white;" layout-padding="" layout="column">
                <form ng-submit="$event.preventDefault()">
                    <md-autocomplete md-selected-item="ctrl.selectedItem"
                                     md-search-text="$ctrl.searchText"
                                     md-items="item in $ctrl.querySearch($ctrl.searchText)"
                                     placeholder="Search...">
                        <md-item-template>
                            <span class="item-title">
                                <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
                                <span> {{ item.name }} </span>
                            </span>
                            <span class="item-metadata">
                                <span>
                                    <strong>{{ item.watchers }}</strong> watchers
                                </span>
                                <span>
                                    <strong>{{ item.forks }}</strong> forks
                                </span>
                            </span>
                        </md-item-template>
                    </md-autocomplete>
                </form>
            </md-content>*@
    </div>
</script>