<div class="row">
    <div style="padding-top: 64px;" class="col-md-6 col-md-push-3">
        <div>
            <img src="{{factory?.avatar}}" />
            <p>Сайт: <a href="{{factory?.siteUrl}}">{{factory?.siteUrl}}</a></p>
            <p>Адреса: {{factory?.address}}</p>
        </div>
        <mat-tab-group>
            <mat-tab label="Загальне">
                <div [innerHtml]="factory?.description">
                </div>
            </mat-tab>
            <mat-tab label="Карта">
                <!--<div *ngIf="factoriesForMap">-->
                <map-result [factories]="factoriesForMap"></map-result>
                <!--</div>-->
            </mat-tab>
            <mat-tab label="Фото" class="sliderActivator">
                <div class="current-photo row" style="margin-top: 20px;">
                    <div *ngFor="let image of factory?.factoryImages">
                        <img class="col-md-6 col-md-push-3" src="{{image}}" />
                    </div>
                </div>
                <div class="factoryPhotos-nav" style="margin-top: 20px;">
                    <div *ngIf="factory?.factoryImages.length > 0; then photos else nophotos"></div>
                    <ng-template #photos>
                        <div *ngFor="let image of factory?.factoryImages">
                            <img style="width: 200px; height: 120px" src="{{image}}" />
                        </div>
                    </ng-template>
                    <ng-template #nophotos>
                        <div>
                            <h3 class="text-center">Фото відсутні</h3>
                        </div>
                    </ng-template>
                </div>
            </mat-tab>
            <mat-tab label="Відгуки">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                    Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
                    In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
                    feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
                    orci enim rutrum enim, vel tempor sapien arcu a tellus.
                    <br />
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                    Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
                    In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
                    feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
                    orci enim rutrum enim, vel tempor sapien arcu a tellus.
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>