@model PFSC.Models.Security.RegisterModel

@section HeadStyles{
    <link href="~/Content/Styles/site/account.css" rel="stylesheet" />
}

<div id="back">
    <div class="backRight"></div>
</div>

<div id="slideBox">
    <div class="topLayer">
        <div class="left">
            <div class="content">
                <h2>Реєстрація</h2>
                <form method="post" asp-action="Register">
                    <div class="form-group">
                        <input asp-for="Email" placeholder="username" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="FirstName" placeholder="first name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="LastName" placeholder="last name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" placeholder="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" placeholder="confim password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <a asp-controller="Account" asp-action="Login" class="off btn btn-primary">Ввійти</a>
                    <button id="signUp" type="submit">Реєстрація</button>
                </form>
            </div>
        </div>
    </div>
</div>