<div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" id="aboutus">Про нас</h3>
    <p>
        Система складається з двох частин. Одна  - користувацька, це пошуковий каталог для пересічних користувачів які шукають підприємства які займаються поліграфією. На даний момент присутні тільки підприємсства міста Львів. Користувачі можуть ставити оцінки та писакти відгуки підприємствам. Друга частина стосується самих поліграфічних підприємств, а зокрема менеджменту їхньої роботи. Спеціальна адмін панель дозволяє керувати та відслідковувати матерільні та людські ресурси підприємства, а також вести облік замовлень та продаж.
    </p>
</div>