@model IEnumerable<PFSC.Models.Home.TopRatedFactoryInfo>

<div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Топ компанії в Львові</h3>
</div>

<div class="w3-row-padding">
    @foreach (var factory in Model)
    {
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding"><a href="/search/company/@factory.FactoryId">@factory.Title</a></div>
                @{
                    var image = string.IsNullOrEmpty(factory.Image) ? "/Content/Images/default-img.gif" : factory.Image;
                }
                <img src="@image" style="width: 100%">
            </div>
        </div>
    }
</div>