<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar" style="min-width: 300px;">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Меню</b></h4>
    <mat-list>
        <div class="accordion">
            <h3 mat-subheader>Поліграфічна пролдукція</h3>
            <div>
                <mat-list-item *ngFor="let prod of productionList" title="{{prod.description}}">
                    <div class="w3-bar-item w3-button">
                        <mat-checkbox mat-line class="example-margin"
                                      [(ngModel)]="prod.isChecked"
                                      [(indeterminate)]="indeterminate"
                                      [align]="align"
                                      [disabled]="disabled">
                            <span>{{prod.title}}</span>

                        </mat-checkbox>
                    </div>
                </mat-list-item>
            </div>
        </div>
        <!--<mat-divider></mat-divider>-->
        
        <div class="accordion">
            <h3 mat-subheader>Технології друку</h3>
            <div>
                <mat-list-item *ngFor="let tech of technologyList" title="{{tech.description}}">
                    <div class="w3-bar-item w3-button">
                        <mat-checkbox mat-line class="example-margin"
                                      [(ngModel)]="tech.isChecked"
                                      [(indeterminate)]="indeterminate"
                                      [align]="align"
                                      [disabled]="disabled">
                            <span>{{tech.title}}</span>

                        </mat-checkbox>
                    </div>
                </mat-list-item>
            </div>
        </div>
    </mat-list>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

